@import "./variables/index.scss";
@import "./extends/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white-color;
  .navbar-brand {
    font-size: 30px;
  }
  .container {
    max-width: 100%;
  }
  .navbar-nav {
    padding: 10px;
    position: relative;
    .nav-link {
      z-index: 999999;
      color: $gray-color;
      margin-right: 15px;
      &:hover {
        color: $main-color;
      }
    }
  }
}
#intro {
  @extend %bgimg;
  .col-lg-8 {
    margin-top: 100px;
    h1 {
      color: $white-color;
      font-weight: 700;
    }
    h2,
    p {
      color: $white-color;
      font-weight: 400;
    }
  }
  .container {
    .row {
      transform: translate(0, -150px);
    }
  }
  .col-md-4 {
    &:hover {
      i {
        transform: scale(1.5);
      }
    }
    padding: 50px;
    text-align: center;
    a {
      text-decoration: none;
      color: $white-color;
    }
    i {
      transition: 0.7s;
      font-size: 30px;
      margin-bottom: 20px;
    }
    p,
    i {
      color: $white-color;
    }
  }
  .first,
  .third {
    background-color: #26313c;
  }
  .second {
    transform: scale(1.1);
    background-color: #29c6d6;
  }
}
#business {
  .left-side {
    margin-top: 90px;
  }
  .row {
    margin-top: 250px;
  }
  h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  span {
    color: $main-color;
  }
  button {
    margin-top: 20px;
    @extend %btn;
  }
  img {
    max-width: 100%;
  }
}
#our-work {
  background-color: #26313c;
  .col-md-12 {
    text-align: center;
    margin-top: 100px;
    p {
      color: $white-color;
    }
    h2 {
      font-size: 40px;
      color: $white-color;
    }
  }
  ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 50px 0;

    li {
      &:hover {
        span {
          background-color: $main-color;
          transition: 0.5s;
          border: none;
        }
      }
      span {
        text-align: center;
        line-height: 100px;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 1px solid #fff;
        font-size: 28px;
        font-weight: 600;
        color: #fff;
        display: inline-block;
        margin: 20px 0;
      }
      color: white;
      display: inline-block;
    }
  }
}

#counter {
  background-image: url(https://trax.acrothemes.com/bootstrap-v5/images/counter-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 34.4391px;
  text-align: center;
  .row {
    padding: 100px;
  }
  .col-md-4 {
    color: white;
    span {
      font-size: 80px;
    }
    h3 {
      font-weight: 200;
    }
    p {
      margin-top: 50px;
    }
  }
}

#mobile {
  a {
    text-decoration: none;

    &:hover {
      h3 {
        color: $main-color;
        transition: 0.5s;
      }
    }
    p,
    h3 {
      color: black;
    }
  }
  .row {
    margin-bottom: 50px;
  }
  .col-md-6 {
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .left-side {
    p {
      color: $main-color;
    }
    h2 {
      font-weight: 400;
      font-size: 50px;
    }
  }
  .right-side {
    p {
      margin-top: 20px;
    }
  }
  .left-sidee {
    margin-top: 100px;
    text-align: end;
  }
  i {
    font-size: 40px;
    color: $main-color;
    margin-bottom: 15px;
  }
  .col-md-4 {
    img {
      max-width: 100%;
    }
  }
  .center {
    text-align: center;
  }
  .right-sidee {
    margin-top: 100px;
  }
}
#expert {
  .left-side {
    p {
      color: $main-color;
    }
    h2 {
      font-weight: 400;
      font-size: 50px;
    }
  }
  .right-side {
    p {
      margin-top: 20px;
    }
  }
  .row {
    margin-bottom: 50px;
    & > * {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .col-md-6 {
    margin-bottom: 50px;
    margin-top: 100px;
  }
  .col-md-3 {
    &:hover {
      ul {
        visibility: visible;
        transform: translateY(10px);
      }

      background-color: $main-color;
      transition: 1s;
    }
    text-align: center;
    img {
      margin-bottom: 20px;
      max-width: 100%;
    }
    p {
      font-weight: 300;
      font-size: 14px;
    }
  }
  ul {
    visibility: hidden;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
#pricing {
  background-color: #f6f7f8;
  .col-md-12 {
    margin-top: 50px;
    text-align: center;
    p {
      color: $main-color;
    }
    h2 {
      font-size: 50px;
    }
  }
  .col-md-4 {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #888888;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
    &:hover {
      background-color: black;
      color: white;
      li::after {
        color: white;
      }
      .green::after {
        color: white;
      }

      button {
        background-color: black;
        color: white;
        border: 1px solid white;
        transition: 0.5s;
      }
    }

    p:first-child {
      margin-top: 30px;
    }

    span {
      font-size: 40px;
    }
    ul {
      margin-left: 70px;
      text-align: start;
      list-style: none;
      li {
        margin-bottom: 10px;
        position: relative;
        &::after {
          content: "\f00c";
          font-family: "Font Awesome 5 Free", serif;
          font-weight: 900;
          position: absolute;
          top: 2px;
          left: -25px;
          color: #e84455;
        }
      }
      .green {
        &::after {
          content: "\f00c";
          font-family: "Font Awesome 5 Free", serif;
          font-weight: 900;
          position: absolute;
          top: 2px;
          left: -25px;
          color: #b2cb20;
        }
      }
    }
  }
  button {
    @extend %btn;
    margin-bottom: 20px;
  }
}

#latest {
  background-color: #f6f7f8;
  .col-md-12 {
    text-align: center;
    margin-top: 100px;
    h6 {
      color: $main-color;
    }
  }
  .col-md-4 {
    &:hover {
      a {
        color: $main-color;
        transition: 0.5s;
      }
      img {
        transition: 0.5s;
      }
    }
    div {
      padding: 20px;
      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-top: 10px;
      }
      span {
        margin-right: 10px;
      }
    }
  }
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

#contact {
  .col-md-12 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    h6 {
      color: $main-color;
    }
  }
  form {
    margin-left: 50px;
    padding: 30px;
    input {
      margin-bottom: 10px;
      border: 1px solid #f9f9f9;
    }
    textarea {
      border: 1px solid #f9f9f9;
      padding: 10px;
    }
  }
  button {
    @extend %btn;
  }
  .row {
    margin-bottom: 50px;
  }
  .col-sm-4 {
    margin-top: 22px;
    ul {
      padding-left: 0;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
      }
    }
    span {
      color: $main-color;
    }
    p {
      color: #908280;
    }
    a {
      color: black;
    }
  }
}

#end {
  .col-md-3 {
    margin-top: 100px;
  }
  .row {
    padding: 40px;
  }
  .navigation {
    li {
      display: block;
      text-align: start;
      margin-bottom: 10px;
      margin-left: 20px;
    }
  }
  background-color: #26313c;
  hr {
    color: #f9f9f9;
  }
  h2 {
    color: #fff;
  }
  .lastest {
    color: white;
  }
  a {
    text-decoration: none;
    color: #fff;
    span {
      color: $main-color;
    }
    p:hover {
      color: $main-color;
    }
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      color: #fff;
      display: inline-block;
      margin-right: 10px;
      text-align: center;

      i {
        height: 22px;
        width: 24px;
        border: 1px solid #f9f9f9;
        border-radius: 100%;
      }
    }
  }
  p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;

    a:hover {
      transition: 0.5s;
      color: $main-color;
    }
  }
}

//deneme

// .cards {
//   height: 450px;
//   background-color: rgb(245, 230, 230);
//   gap: 25px;
//   overflow: hidden;
// }

// #cards {
//   background-color: rgb(221, 221, 221);
//   display: flex;
//   align-items: center;
//   height: 800px;
// }
// .about {
//   padding: 24px 0;
// }
// #cards .img-box {
//   height: 78%;
//   overflow: hidden;
// }

// #cards .img-box img {
//   width: 100%;
//   height: 100%;
//   transition: 0.8s;
// }

// #cards .cards .sm-contact {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   transition: 0.8s;
// }

// ul {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 15px;
//   list-style: none;
//   visibility: hidden;
// }

// ul li a i {
//   color: rgb(252, 238, 238);
//   font-size: 17px;
// }

// .about {
//   text-align: center;
//   transition: 0.8s;
// }

// .cards:hover {
//   background-image: linear-gradient(
//     rgb(56, 149, 224) brgb(160, 218, 252) rgb(56, 149, 224)
//   );
// }

// .cards:hover .img-box img {
//   transform: scale(1.2);
// }

// .cards:hover .about {
//   transform: translateY(-15px);

//   color: rgb(252, 238, 238);
// }

// .cards:hover .sm-contact {
//   transform: translateY(-32px);
// }

// .cards:hover .sm-contact ul {
//   visibility: visible;
// }

// .box-2 {
//   position: relative;
// }
// .box-2::before {
//   content: "";
//   width: 100%;
//   height: 100%;
//   background-image: linear-gradient(
//     to right,
//     #5192e1 0%,
//     #23ced5 51%,
//     #5192e1 100%
//   );
//   position: absolute;
//   top: 100px;
//   transition: 0.8s;
// }

// .cards:hover .box-2::before {
//   transform: translateY(-100px);
// }

// .sm-contact ul li {
//   height: 35px;
//   width: 35px;
//   border-radius: 50%;
//   text-align: center;
//   padding-top: 9px;
//   transition: 0.6s;
//   position: relative;
// }

// .sm-contact ul li.instagram {
//   background-image: rgb(56, 149, 224);
// }
// .sm-contact ul li.facebook:hover {
//   background-color: #3b5998;
// }

// .sm-contact ul li.twitter:hover {
//   background-color: #00acee;
// }

// .sm-contact ul li.instagram::after {
//   content: "";
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-image: linear-gradient(
//     to top,
//     #f58529,
//     #feda77,
//     #dd2a7b,
//     #8134af,
//     #515bd4
//   );
//   z-index: -1;
//   opacity: 0;
// }

// .sm-contact ul li.instagram:hover::after {
//   opacity: 1;
//   transition: 1s;
// }
