%btns {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  padding: 10px 25px;
  border: 1px solid #333;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  line-height: 1.42857143;
  font-size: 13px;
}
